extends _layout

block title
	title
block head
	meta(name="keywords" content="Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays.com. ")
	link(rel="canonical" href="")

block content
	include _header


	main.content
		section.block
			.inner
				h1 What #[span.colored we] do
				p Sed ut #[span.colored perspiciatis unde omnis] iste natus error sit voluptatem accusantium doloremque totam rem aperiam, eaque ipsa quae ab illo inventore #[span.colored veritatis] et quasi architecto beat dicta sunt explicabo. Nemo enim ipsam  #[span.colored voluptatem] quia sit amet turpis ut purus  pellentesque ullamcorper sed ut nisl.
				.what
					.what__item
						span 863
						p Projects work
					.what__item
						span 921
						p Facebook likes
					.what__item
						span 572
						p Tutorials create
					.what__item
						span 159
						p Cofees made
		section.block.block_colored
			.inner
				h2 About #[span.colored us]
				p Sed ut perspiciatis unde omnis iste natus error sit #[span.colored voluptatem accusantium] doloremque totam rem aperiam, eaque ipsa #[span.colored quae ab illo] inventore veritatis et quasi architecto beat dicta sunt explicabo.
				.about
					.about__left
						p Suspendisse consequat nisl et consectetur hendrerit. Cras sitamet turpis ut purus #[span.colored pellentesque ullamcorper] sed ut nisl. Insed vulputate libero. Nullam nec auctor elit, vitae mattis.
						p commodo. Suspendisse tincidunt orci ultrices, viverra mauris a, tristique mauris. #[span.colored Curabitur pretium] pellentesque risus, in adipiscing tortor consequat id.
						a.btn.about__btn(href="#") Learn more
					.about__right
						button.about__next
						button.about__prev
						.about__slider.js-slider
							img(src="img/slider.jpg")
							img(src="img/slider.jpg")
							img(src="img/slider.jpg")
							img(src="img/slider.jpg")
		section.block
			.inner
				h2 Ser#[span.colored vic]es
				p Sed ut perspiciatis unde omnis iste natus error sit #[span.colored voluptatem accusantium.]
				.services
					mixin serviceItem(className)
						article.services__item
							.services__icon(class=className): i
							.services__text-wrap
								h5 Adipiscing tortor
								p Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.

					+serviceItem('services__icon_graph')
					+serviceItem('services__icon_cloud')
					+serviceItem('services__icon_geo')
					+serviceItem('services__icon_bell')
					+serviceItem('services__icon_eye')
					+serviceItem('services__icon_code')
		section.phones
			.inner
				img.phones__img(src="img/devices.png")
				.phones__right
					mixin phonesItem
						article.phones__item
							.phones__icon: i
							.phones__text-wrap
								h5 Adipiscing tortor
								p Morbi condimentum leo sed sollicitudin pulvinar. Phasellus rutrum interdum elit quis.
					+phonesItem
					+phonesItem
					+phonesItem

					a.btn.phones__btn(href="#") Learn more

			.clients.phones__clients
				button.clients__next
				button.clients__prev
				.clients__slider.js-clients-slider
					a(href="#"): img(src="img/client-1.png")
					a(href="#"): img(src="img/client-2.png")
					a(href="#"): img(src="img/client-3.png")
					a(href="#"): img(src="img/client-4.png")
					a(href="#"): img(src="img/client-1.png")
					a(href="#"): img(src="img/client-2.png")
					a(href="#"): img(src="img/client-3.png")
					a(href="#"): img(src="img/client-4.png")

		section.block.block_team
			.inner
				h3 Our #[span.colored team]
				.team
					.team__item
						img(src="img/team-1.png")
						span CEO/Founder
					.team__item
						img(src="img/team-2.png")
						span Manager
					.team__item
						img(src="img/team-3.png")
						span Web developer
					.team__item
						img(src="img/team-4.png")
						span Web designer

		section.block.block_colored
			.inner
				h3 Latest #[span.colored posts]
				.posts
					mixin postItem(imgLink)
						article.posts__item
							.posts__img-wrap
								img(src=imgLink)
								a(href="#")
							.posts__item-inner
								h5 Aliquam metus neque
								p bibendum sit amet porta at, consequat et enim. In ut turpis non ipsum rhoncus porttitor vel ac nunc. Maecenas interdum dignissim lorem quis auctor sit amet nulla nisl, aliquam pretium ipsum.
								footer.posts__item-footer
									time September 02
									a(href="#") 19
					+postItem("img/post-1.jpg")
					+postItem("img/post-2.jpg")
					+postItem("img/post-3.jpg")

				a(href="#").btn More posts

		section.block
			.inner
				h3 Our #[span.colored skills]
				.skills
					mixin skillsItem(value, category)
						.skills__item
							.skills__circle
								span.skills__increase=value
							p=category
					+skillsItem('85%', 'Web Design')
					+skillsItem('65%', 'Branding Design')
					+skillsItem('80%', 'Time managment')
					+skillsItem('65%', 'Creative cloud')
					+skillsItem('85%', 'Web Development')
		section.block
			h3 Our #[span.colored latest] projects
			.projects
				mixin projItem(img)
					.projects__item
						a.projects__overlay(href="#")
							span Project Name
						img(src="img/#{img}")
				+projItem('project-1.jpg')
				+projItem('project-2.jpg')
				+projItem('project-3.jpg')
				+projItem('project-4.jpg')
				+projItem('project-5.jpg')
				+projItem('project-6.jpg')
				+projItem('project-6.jpg')
				+projItem('project-5.jpg')
				+projItem('project-7.jpg')
				+projItem('project-3.jpg')
				+projItem('project-2.jpg')
				+projItem('project-1.jpg')

		section.block.block_colored
			.inner
				h3 Special #[span.colored offers]
				.offers
					.offers__item
						h4 Standart
						b $39.99
						mixin offersContent
							p Duis mi dolor, fermentum
							p scelerisque mattis sit amet,
							p condimentum sit amet nunc.
							p Cras eros felis
							p tristique sed sagittis id
							a(href="#").offers__btn take a plan
						+offersContent
					.offers__item
						h4 The best
						b $59.99
						+offersContent
					.offers__item
						h4 Premium
						b $89.99
						+offersContent



	include _footer




